<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Heroku Fullstack</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="script.js"></script>
</head>
<body>
  
  <div class='container'>  
    <div class='row'>
      <h1>What do you want to do today?</h1>
    </div>
  
    <div class='row'>
      <h2 id='suggestedActivity'></h2>
    </div>

    <div class='row buttons-row'>
      <div class="buttons">
        <button type="button" class="btn btn-primary" id='saveActivity' onclick='addActivity()'>Add it to the list!</button>
        <button type="button" class="btn btn-secondary" id='getActivity' onclick='getActivity()'>Suggest New Activity</button>        
        <button type="button" class="btn btn-outline-danger" id='deleteActivities' onclick='deleteActivities()'>Start Over</button>
      </div>  
    </div>
      
    <div class='row'>
      <h4>Today's Activities:</h4>
    </div>
    
    <div class='row'>
      <ul id='activityList'>
        <% activities.forEach(function(r) { %>
          <li><%= r.activity %></li>
        <% }); %>
      </ul>
    </div>
  </div>
</body>